*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url('https://images.pexels.com/photos/2680270/pexels-photo-2680270.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  width: 100%;
  height: 100vhx;
  background-size: cover;
  background-position: center;
}

.cube-loader {
  position: relative;
/* u can choose any size */
  width: 75px;
  height: 75px;
  transform-style: preserve-3d;
  transform: rotateX(-30deg);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotateX(-30deg) rotateY(0);
  }

  100% {
    transform: rotateX(-30deg) rotateY(360deg);
  }
}

.cube-loader .cube-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  transform-style: preserve-3d;
}

.cube-loader .cube-wrapper .cube-span {
  position: absolute;
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
                                     /* width 75px / 2 = 37.5px */
  transform: rotateY(calc(90deg * var(--i))) translateZ(37.5px);
  background: linear-gradient(
    to bottom,
    hsl(330, 3.13%, 25.1%) 0%,
    hsl(177.27, 21.71%, 32.06%) 5.5%,
    hsl(176.67, 34.1%, 36.88%) 12.1%,
    hsl(176.61, 42.28%, 40.7%) 19.6%,
    hsl(176.63, 48.32%, 43.88%) 27.9%,
    hsl(176.66, 53.07%, 46.58%) 36.6%,
    hsl(176.7, 56.94%, 48.91%) 45.6%,
    hsl(176.74, 62.39%, 50.91%) 54.6%,
    hsl(176.77, 69.86%, 52.62%) 63.4%,
    hsl(176.8, 76.78%, 54.08%) 71.7%,
    hsl(176.83, 83.02%, 55.29%) 79.4%,
    hsl(176.85, 88.44%, 56.28%) 86.2%,
    hsl(176.86, 92.9%, 57.04%) 91.9%,
    hsl(176.88, 96.24%, 57.59%) 96.3%,
    hsl(176.88, 98.34%, 57.93%) 99%,
    hsl(176.89, 99.07%, 58.04%) 100%
  );
}

.cube-top {
  position: absolute;
  width: 75px;
  height: 75px;
  background: hsl(330, 3.13%, 25.1%) 0%;
                      /* width 75px / 2 = 37.5px */
  transform: rotateX(90deg) translateZ(37.5px);
  transform-style: preserve-3d;
}

.cube-top::before {
  content: '';
  position: absolute;
/* u can choose any size */
  width: 75px;
  height: 75px;
  background: hsl(176.61, 42.28%, 40.7%) 19.6%;
  transform: translateZ(-90px);
  filter: blur(10px);
  box-shadow: 0 0 10px #323232,
              0 0 20px hsl(176.61, 42.28%, 40.7%) 19.6%,
              0 0 30px #323232,
              0 0 40px hsl(176.61, 42.28%, 40.7%) 19.6%;
}
.navbar{
  width: 85%;
  margin: auto;
  padding: 35px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  position: relative;
  
}
.navbar ul li a{
  text-decoration: none;
  color: #edcded;
  text-transform: uppercase;
  
}
.navbar ul li::after{
  content: '';
  height: 2px;
  width: 0;
  background: #000000;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.5s;
}
.navbar ul li:hover::after{
  width: 100%;
}
.input-container {
  width: 220px;
  position: relative;
}

.icon {
  position: absolute;
  right: 5px;
  top: calc(50% + 5px);
  transform: translateY(calc(-50% - 5px));
}

.input {
  width: 100%;
  height: 20px;
  padding: 10px;
  transition: .2s linear;
  border: 2.5px solid black;
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.input:focus {
  outline: none;
  border: 0.5px solid rgb(79, 68, 68);
  box-shadow: -5px -5px 0px black;
}

.input-container:hover > .icon {
  animation: anim 1s linear infinite;
}

@keyframes anim {
  0%,
  100% {
    transform: translateY(calc(-50% - 5px)) scale(1);
  }

  50% {
    transform: translateY(calc(-50% - 5px)) scale(1.1);
  }
}

.tulisan{
 font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 color:#edcded ;
 text-align: center;
 padding-top: 150px;
 font-size:xx-large;
}

/*css for slide navigation*/

.body{
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.slider{
  width: 800px;
  height: 500px;
  border-radius: 10px; 
  overflow: hidden;
}

.slides{
  width: 500%;
  height: 500px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 20%;
  transition: 2s;
}

.slide img{
  width: 800px;
  height: 500px;
}

/*css for manual slide navigation*/

.navigation-manual{
 position: absolute;
 width: 800px;
 margin-top: -40px;
 display: flex;
 justify-content: center; 
}

.manual-btn{
  border: 2px solid #ffffff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.manual-btn:not(:last-child){
  margin-right: 40px;
}

.manual-btn:hover{
  background: #000000;
}

#radio1:checked ~ .first{
 margin-left: 0; 
}

#radio2:checked ~ .first{
  margin-left: -20%; 
 }

 #radio3:checked ~ .first{
  margin-left: -40%; 
 }


article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

.panel{
  display: flex;
  justify-content: center;
  border-radius: 15px;
  margin: 100px;
  padding: 15px;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
  line-height: 1;
  align-items: center;
  min-height: 100vh;
  text-transform: uppercase;
}


h2.pricing-header{
  font-family:sans-serif;
  font-weight: 600;
  color: #969696;
  font-size: 25px;
  text-transform: uppercase;
   margin: 30px;
  letter-spacing: 1px;
}

span{
  font-weight: bold;
  color: #65a6d7;
  font-size: 24px;
  text-transform: uppercase;
  font-family:sans-serif;
}
.pricing-plan{
  text-align: center;
  border-right:1px solid #d4d3d3;
  padding-right:20px;
  margin:1px;
  flex: 50%;
  
}

.pricing-plan:last-child{
  border-right: none;
}

img{
  margin-top: 40px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-left: 0px;
}

.pricing-features-item{
  font-weight: 700;
  font-size: 18px;
  color: #edcded;
  text-transform: uppercase;
  font-family: arial;
  border-top:1px solid #cecaca;
  padding:20px;
  margin: 30px;
  letter-spacing: 1px;
}
 #botol{
   border-bottom:1px solid #cecaca;
   
 }
.pricing-price {
  font-weight: 700;
  color: #5963f8;
  font-size: 24px;
  text-transform: uppercase;
 
}


.pricing-button {
  background-color: white;
  border: #5963f8 solid 2px;
  border-radius: 15px;
  color: #5963f8;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  font-family:'Open Sans',sans-serif;
  margin-top: 15px;
  margin-bottom: 80px;
  cursor: pointer;
  
  text-transform: uppercase;
  color: #edcded;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #edcded;
  transition: 0.5s ease;
  user-select: none;
  
}
.pricing-button:hover,:focus{
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff,
              0 0 20px #008cff,
              0 0 50px #008cff,
              0 0 100px #008cff;
}


#satu {background-color:#5963f8; color:white; opacity: 0.8;
  transition: 0.3s;
  display: inline-block;}
#satu:hover {opacity: 1}




.no1 {
  border: 1px solid #000000;
}

.no2{ text-align: center;
     color: #000000;
    }

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@media (max-width: 800px) {
  .panel {
    flex-direction: column;
    
  }
  .pricing-plan{
    border-right:none;
  }
}

.container{
  max-width: 1200px;
  width: 95%;
}

.slider-wrapper{
  position: relative;
}

.slider-wrapper .slide-button {
  position: absolute;
  top: 50%;
  height: 50px;
  width: 50px;
  color: #fff;
  border: none;
  outline: none;
  background: #000;
  font-size: 2.2rem;
  cursor: pointer;
  border-radius: 50%;
  transform: translateY(-50%);
}

.slider-wrapper .slide-button:hover {
  background: #444;
}

.slider-wrapper .slide-button#prev-slide {
  left: -20px;
}

.slider-wrapper .slide-button#next-slide {
  right: -20px;
}

.slider-wrapper .image-list {
 display: grid;
 gap: 18px;
 font-size: 0;
 margin-bottom: 30px;
 overflow-x: auto;
 scrollbar-width: none;
 grid-template-columns: repeat(10, 1fr);  
}

.slider-wrapper .image-list::-webkit-scrollbar {
 display: none;
}

.slider-wrapper .image-list .image-item {
  width: 325px;
  height: 400px;
  object-fit: cover;
 }

 .container .slider-scrollbar {
  height: -24px;
  width: 100%;
  display: flex;
  align-items: center;
}

.slider-scrollbar .scrollbar-track {
  height: 2px;
  width: 100%;
  background: #ccc;
  position: relative;
  border-radius: 4px;
}

.slider-scrollbar:hover .scrollbar-track {
  height: 4px;
 }

.slider-scrollbar .scrollbar-thumb {
  position: absolute;
  height: 100%;
  width: 50%;
  border-radius: inherit;
  cursor: grab;
}

.slider-scrollbar .scrollbar-track:active {
  cursor: grabbing;
  height: 8px;
  top: -2px;
 }

.slider-scrollbar .scrollbar-thumb::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -10px;
  bottom: -10px;
}

.image-list{
  width: 300px 100%;
  height: 300px;
}